.main_container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0%;
  height: 77.2vh;
  grid-template-areas:
    "character-1 character-1 character-1 character-2 character-2 character-2"
    "footer footer footer footer footer footer";
}

.character-1 {
  height: 65vh;
  overflow-x: auto;
  grid-area: character-1;
  border-right: 1px solid #6dbd06;
}
.character-2 {
  height: 65vh;
  overflow-x: auto;
  grid-area: character-2;
  border-left: 1px solid #6dbd06;
}
.footer_container {
  display: grid;
  grid-area: footer;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0% 0%;
  grid-template-areas: "footer-1 footer-2 footer-3";
}
.row-1 {
  text-align: left;
  overflow-y: auto;
  grid-area: footer-1;
  background-color: #c3eb91;
  border-right: 1px solid #476126;
  /* border: 1px solid black; */
}
.row-2 {
  text-align: left;
  overflow-y: auto;
  grid-area: footer-2;
  background-color: #c3eb91;
  border-right: 1px solid #476126;
  border-left: 1px solid #476126;
}
.row-3 {
  text-align: left;
  overflow-y: auto;
  grid-area: footer-3;
  background-color: #c3eb91;
  border-left: 1px solid #476126;
}

@media screen and (max-width: 973px) {
  .main_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "character-1 character-2"
      "row-1"
      "row-2"
      "row-3";
  }

  .footer_container {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
}
