.episodes_container {
  display: flex;
  flex-direction: row;
  padding: 2%;
  justify-content: space-around;
}
.title_episode {
  font-family: "Red Hat Mono", monospace;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

.episodes_content {
  font-family: "Red Hat Mono", monospace;
}
@media screen and (max-width: 973px) {
  .title_episode {
    font-size: 14px;
  }
}
