.card_container {
  display: grid;
  width: 90%;
  padding: 2%;
  margin: auto;
  place-items: center;
}

.card-1 {
  padding: 3%;
  height: 200px;
  display: flex;
  color: wheat;
  align-items: center;
  border-radius: 20px;
  width: 50%;
  cursor: pointer;
  font-family: "Red Hat Mono", monospace;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card-1:hover {
  transition: 0.3s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
}

.image {
  border-radius: 10px;
  width: 250px !important;
  height: 90px !important;
}

.card_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name {
  text-align: center;
  font-size: 18px;
}

@media screen and (max-width: 973px) {
  .card_container {
    justify-content: center;
    align-items: center;
  }
  .card-1 {
    display: flex;
    font-size: 10px;
  }

  .image {
    width: 60px;
    height: 60px;
  }
}
