.pagination_container {
  display: flex;
  justify-content: center;
}

.image {
  width: 250px !important;
  height: 70px !important;
}

.pagination {
  display: flex;
  padding: 1%;
}

.page-item {
  background: transparent;
  border: none;
  -webkit-text-stroke: 1px black;
  color: #6dbd06;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.page-item:hover {
  color: #ade368;
}

.pages {
  font-family: "Red Hat Mono", monospace;
  margin: 0;
  margin-bottom: 1%;
}
